$colorWhite: #FFFFFF;
$colorBlack: #141414;
$colorGrey: #7f8887;
$colorGreyLight: #fafafa;
$colorBlue: #2792ec;

$fontPrimary: 'Open Sans', sans-serif;
$fontSecondary: 'Lato', sans-serif;
$fontSpecial: 'Ubuntu', sans-serif;